<div class="logo">
    <img src="../../assets/logo.png" alt="Logo">
</div>
<div class="container">
  <div class="login-box">
      <h2>Se connecter</h2>
      <form (submit)="login()">
          <label for="email">Adresse mail</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Adresse mail" required>

          <label for="password">Mot de passe</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Mot de passe" required>
          <div class ="reset-password"> <a routerLink="/reset-password">Mot de passe oublié ?</a></div>
          <button type="submit" class="btn">Se connecter</button>
      </form>


      <div class="separator">
          <span>OU</span>
      </div>

      <button class="google-btn" (click)="signInWithGoogle()">
          <img src="../../assets/google-icon.png" alt="Google Logo">
          <strong> Continuer avec Google</strong>
      </button>

      <p class="signup-link">Nouveau membre ? <a routerLink="/signup">Créer un compte</a></p>
  </div>
</div>
