<div class="logo">
    <img src="assets/logo.png" alt="Logo" routerLink="/home">
  </div>

  <div class="dropdown-container">
    <details class="dropdown left">
      <summary>
        <span class="with-down-arrow">
          <img src="../../assets/profile.png" alt="Profile" class="profile-img">
        </span>
      </summary>
      <ul>
        <li>
          <a routerLink="/home">
            <i class="fa-solid fa-house"></i> <span class="liste-style">Accueil</span>
          </a>
        </li>
        <li>
          <a routerLink="/favoris">
            <i class="fas fa-solid fa-heart"></i> <span class="liste-style">Favoris</span>
          </a>
        </li>
        <li>
          <a routerLink="/travel">
              <i class="fa-brands fa-avianex"></i><span class="liste-style">Voyage</span>
          </a>
      </li>
        <li class="divider"></li>
        <li>
          <a (click)="logout()">
            <i class="fas fa-solid fa-right-from-bracket"></i> <span class="liste-style">Déconnexion</span>
          </a>
        </li>
      </ul>
    </details>
  </div>

  <div class="container">
    <h2 class="titre">Suivi des devises favorites</h2>

    <table class="currency-table">

      <tbody>
        <tr *ngFor="let item of displayedDashboard">


          <td>
        <div class="favoris-table-ligne">
        <div>
            <img [src]="'https://hatscripts.github.io/circle-flags/flags/' + item.from.toLowerCase().slice(0,2) + '.svg'" alt="{{ item.from }}">
            <span>{{ item.from }}</span>
        </div>
          <div data-label="">
            <i class="fas fa-exchange-alt"></i>
          </div>
          <div data-label="Vers">
            <img [src]="'https://hatscripts.github.io/circle-flags/flags/' + item.to.toLowerCase().slice(0,2) + '.svg'" alt="{{ item.to }}">
            <span>{{ item.to }}</span>
          </div>
          <div data-label="Évolution" class="rate-change" [ngClass]="{'positive': item.rate >= 0, 'negative': item.rate < 0}">
            {{ item.rate > 0 ? '+' : '' }}{{ item.rate.toFixed(6) }}
          </div>
          <div data-label="Graphique">
            <app-chart
              [labels]="item.labels"
              [data]="item.data"
              [borderColor]="item.rate >= 0 ? 'green' : 'red'"
              [backgroundColor]="item.rate >= 0 ? 'rgba(0, 255, 0, 0.2)' : 'rgba(255, 0, 0, 0.2)'"
              [title_display]="false"
              [y_grid_display]="false"
              [show_ticks]="false">
            </app-chart>
          </div>
          <button class="delete-btn" (click)="deleteFavorite(item.id)">
            <i class="fas fa-trash"></i>
          </button>
    </div>
        </td>
        </tr>
      </tbody>
    </table>


    <button class="show-more-button" (click)="showMore()" *ngIf="displayedDashboard.length < dashbord.length">
      Afficher plus
    </button>

    <div class="buttons-container">
      <button class="show-less-button" (click)="showLess()" *ngIf="displayedDashboard.length > itemsToShow">
        Afficher moins
      </button>
    </div>
    <app-alert></app-alert>


  </div>

