
<div class="logo">
  <img src="assets/logo.png" alt="Logo">
</div>

<div *ngIf="isAuthenticated; else notAuthenticated">
  <button class ="profile-button"><img src="assets/profile.png" alt="profile"></button>
</div>
<ng-template #notAuthenticated>
  <button class ="login-button" routerLink="/login"> Se connecter</button>
</ng-template>

<div class="main-container">

  <div class="converter-card">
    <h2>Currency Converter</h2>

    <div class="converter-input">
      <div class="currency-select-img">
        <img *ngIf="baseImageUrl" [src]="baseImageUrl" class="img-currency">
        <select [(ngModel)]="baseCurrency" (change)="convert('amount1')">
          <option *ngFor="let currency of currencies" [value]="currency"> {{ currency }}</option>
        </select>
      </div>
      <span> ↔ </span>
      <div class="currency-select-img">
        <img *ngIf="targetImageUrl" [src]="targetImageUrl" class="img-currency">
        <select [(ngModel)]="targetCurrency" (change)="convert('amount1')">
          <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
        </select>
      </div>
    </div>

    <div class="converter-input">
      <div class="amount-input">
        <input  [(ngModel)]="amount" (input)="convert('amount1')" />
      </div>
      <span> ↔ </span>
      <div class="amount-input">
        <input  [(ngModel)]="convertedAmount" (input)="convert('amount2')" />
      </div>
    </div>

    <div class="date-input">
      <input type="date" [(ngModel)]="date" (input)="convert('amount1')" />
    </div>

    <div *ngIf="isAuthenticated; else notAuthenticatedForFavoris">
      <button (click)="addToFavorites()" class="button-favoris">+ Favoris</button>
    </div>
    <ng-template #notAuthenticatedForFavoris>
      <p class="non-connected-msg">Connectez-vous pour garder l’historique de vos conversions.</p>
    </ng-template>

  </div>


  <!-- Bloc Graphique -->
  <div class="chart-card">
    <div class="chart-container">
      <app-chart
        [labels]="labels"
        [data]="data"
        label="Évolution de la devise au fil du mois"
        borderColor="blue"
        backgroundColor="rgba(0, 0, 255, 0.2)">
      </app-chart>
    </div>

    <div class="graph-buttons">
      <button class="active">30D</button>
      <button>60D</button>
      <button>90D</button>
    </div>

    <div class ="vente-achat" >
      <label>Prix de vente</label>
      <div class="bid-ask-input">
        <input type="number" [(ngModel)]="sellPrice" disabled="true" />
      </div>

      <label>Prix d'achat</label>
      <div class="bid-ask-input">
        <input type="number" [(ngModel)]="buyPrice" disabled="true" />
      </div>
    </div>
  </div>
</div>
